<header>
    <div class="container">
        <nav>
            <div class="logo">
                <a href="/">
                    <img src="/images/logo.svg" alt="logo">
                </a>
            </div>

            <ul class="menu">
                <li><a href="/play">Play</a></li>
                <li><a href="/rules">Rules</a></li>
                <li><a href="/stats">Stats</a></li>
                <li>
                    <div id="wallet-connector"></div>
                </li>
            </ul>
        </nav>
    </div>
</header>