@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*
    @apply
    bg-gray-800

     */
    background: #1FBBF4;

    background: linear-gradient(to bottom, #1FBBF4, #E11FAE);
}

header {
    @apply
    bg-slate-800
    p-4
    text-white
}

header .container {
    @apply
    mx-auto
    px-32
    flex
    items-center

}

header nav {
    @apply
    flex
    w-full
    items-center
}

header .logo {
    @apply
    flex-1
    text-3xl
}

header .menu {
    @apply
    flex
    items-center
}

.menu {
    @apply
    mr-3
}

.menu li {
    @apply
    mx-3;
}

.menu a {
    @apply
    text-xl
    p-2
    font-bold
    text-blue-300
    hover:text-fuchsia-500
}

#wallet-connector {

}

#wallet-connect-button {
    @apply
    px-8
    py-4
    text-xl
    rounded-xl
    bg-purple-700
    hover:bg-purple-600
    border-4
}

#wallet-menu-connected {

}


main {
    @apply

    min-h-screen
    text-white
}

.container#page-landing {
    @apply
    px-48
    text-center
}

#page-landing h1 {
    @apply
    text-5xl
    mt-24
    mb-12
    font-bold
    px-48
}

#page-landing p {
    @apply
    px-48
}

#page-landing .buttons {
    @apply
    mt-16
    flex
    justify-center
}

#page-landing .buttons a {
    @apply
    text-2xl
    mx-6

    px-24
    py-6
    rounded-md
}

#page-landing .buttons a:first-of-type {
    @apply
    bg-blue-500
    hover:bg-blue-400

}

#page-landing .buttons a:last-of-type {
    @apply
    bg-fuchsia-600
    hover:bg-fuchsia-500
}

.container.page {
    @apply
    mx-auto
    my-8
    px-48
}

.container.page h1 {
    @apply
    text-3xl
    mb-4
}
/* Rules */

.container.page a {
    @apply
    text-fuchsia-900
}

.container.page pre {
    @apply
    bg-gray-900
    p-4
    my-4
}

.container.page pre b {
    @apply
    bg-red-900
}

#app {

}

#app .container {
    @apply
    flex
    min-h-screen
}

#app .sidebar {
    @apply
    bg-gray-500
    w-1/4
    p-1
    cursor-pointer
}

#app .sidebar .connect-wallet {
    @apply
    p-4
    text-2xl
    text-center
        /*4e44ce*/
    bg-gray-900
    hover:bg-gray-800
}

#app .sidebar .connect-wallet.key {
    @apply
    text-sm
}

#app .sidebar .sidebar-item {
    @apply
    p-2
    text-xl
    my-2
    bg-teal-900
    hover:bg-teal-700
}

#app .main {
    @apply
    w-full
}

#app .error-wallet-not-connected {
    @apply
    bg-orange-400
    p-5
    w-5/12
    mx-auto
    text-center
    mt-32
}

#app .app-page {
    @apply
    px-6
}

#app .app-page .container-play {
    @apply
    flex

}

#app .app-page .container-play .side-play {
    @apply
    p-10
}

#app .app-page .container-play .side-play .button-play {
    @apply
    px-24
    py-4
    text-5xl
    rounded-xl
    bg-purple-700
    hover:bg-purple-600
    border-4
}

#app .app-page .container-play .side-result {
    @apply
    p-10
    w-full
}

#app .app-page .container-play .side-result .box-result {
    @apply
    bg-slate-800
    rounded-xl
    border-4
    break-all
}

#app .app-page .container-play .side-result .box-result .box-result-header {
    @apply
    p-4
    text-center
    text-2xl
    font-bold
}

#app .app-page .container-play .side-result .box-result .box-result-line {
    @apply
    flex
    items-center
    divide-y-2
}

#app .app-page .container-play .side-result .box-result .box-result-lite-status {
    @apply
    p-4
}
#app .app-page .container-play .side-result .box-result .box-result-line-signature {
    @apply
    p-4
    flex-1

}


#app .app-page .container-play .side-result .box-result .box-result-lite-status img {
    width: 30px;
}

@keyframes loader{
    to{ transform: rotate(360deg); }
}

.box-result-lite-status img.loader {
    animation: loader 3s linear infinite;
}

#app table {
    @apply
    min-w-full
    divide-y
    divide-gray-200
}

#app table thead {
    @apply
    bg-gray-50
}

#app table th {
    @apply
    px-6
    py-3
    text-left text-xs font-medium text-gray-500 uppercase tracking-wider
}

#app table tbody {
    @apply
    bg-white divide-y divide-gray-200
}

#app table td {
    @apply
    px-6
    py-2
    whitespace-nowrap
    text-gray-600
}

.pagination {
    @apply
    flex
    flex-wrap
    justify-center
    p-4
    bg-gray-100
    rounded-full
}

.pagination .link {
    @apply
    bg-red-500
    w-8
    h-8
    rounded-full
    p-4
    flex
    justify-center
    items-center
    mx-4
    cursor-pointer
    shadow-lg
    shadow-gray-500/50
}

.pagination .link.active {
    @apply
    shadow-inherit
    bg-white
    text-red-600
}



footer {
    @apply
    p-4
    bg-gray-900
    text-white
    text-center
}

footer a {
    @apply
    mx-4

}