@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /*
    @apply
    bg-gray-800

     */
    background: #1FBBF4;

    background: linear-gradient(to bottom, #1FBBF4, #E11FAE);
}

header {
    @apply
    bg-gray-900
    p-4
    text-white
}

header .container {
    @apply
    mx-auto
    px-4
}

header nav {
    @apply
    flex
}

header .logo {
    @apply
    flex-1
    text-3xl
}

header .menu {
    @apply
    flex
}

.menu {
    @apply
    mr-3
}

.menu li {
    @apply
    mx-3;
}

.menu a {
    @apply
    text-xl
    p-2
    text-white
}

main {
    @apply
    p-4
    min-h-screen
    text-white
}

.app {

}

.app .nav {
    @apply
    flex
}

.app .nav .link {
    @apply
    flex-1
    bg-teal-900
    text-center
    mx-4
    p-2
}

.app .nav .link.active {
    @apply
    bg-teal-600
}

.app .view {
    @apply
    m-4

    p-4
}

.app #view-play {
    @apply
    flex
    justify-center

}

.app button {
    @apply
    px-24
    py-4
    text-5xl
    rounded-xl
    bg-purple-700
    hover:bg-purple-600
    border-4
}

/* box */
.box-result {
    @apply

    bg-slate-800
    rounded-xl
    border-4
}

.box-result-header {
    @apply
    p-4
    text-center
    text-2xl
    font-bold
}

.box-result-lines {

}

.box-result-line {
    @apply
    flex
    items-center
    divide-y-2
}

.box-result-lite-status {
    @apply
    p-4

}

.box-result-lite-status img {
    width: 30px;
}


@keyframes loader{
    to{ transform: rotate(360deg); }
}

.box-result-lite-status img.loader {
    animation: loader 3s linear infinite;
}

.box-result-lite-signature {
    @apply
    p-4
}

footer {
    @apply
    p-4
    bg-gray-900
    text-white
}


