<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta property="og:title" content="PlayHash.net">
        <meta property="og:url" content="https://playhash.net">
        <meta property="og:image" content="https://playhash.net/images/logo.svg">
        <title>Solana Game</title>
        <link rel="stylesheet" href="/css/app.css"/>
    </head>
    <body>

        {% include './includes/header.html' %}

        {% include './includes/menu-responsive.html' %}

        <main>
            {% block content %}
            {% endblock %}
        </main>

        {% include './includes/footer.html' %}

        <script src="/js/app.js"></script>
    </body>
</html>