{% extends './_layout.html' %}

{% block content %}
    <div class="container" id="page-landing">
        <h1>Gamble on the Solana's blockchain</h1>
        <h2>Earn rewards</h2>
        <!--

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut distinctio, ea, exercitationem explicabo fugiat illo ipsa labore neque obcaecati odio officia optio quaerat qui recusandae sint, vel vero voluptates?</p>
         -->

        <div class="buttons">
            <a href="/play">Play now</a>
            <a href="/rules">Lean rules</a>
        </div>
    </div>
{% endblock %}