{% extends './_layout.html' %}

{% block content %}
<div class="container page">
    <h1>Rules</h1>
    <p>
        It's a mini-game on the Solana's blockchain. <br>
        The users send a mini-amount to the kitty (0.001 Sol)<br>
        A signature transaction is sent to the network. <br>
        The transaction is registered in a block. <br>
        If the latest signature's number is equal to the blockhash's number, the user win the kitty. <br>
        For example, <a href="https://explorer.solana.com/tx/t9XiVjzoHxHYR7Fab9ptawWQV5koNXMs2dBhNVqNg2xJRJtUq6jbXUJGukNa1nBAtgZBfNmaujskQW9Ntb1ohMv?cluster=devnet" target="_blank">let's see this transaction in a explorer</a>:
    </p>

<pre>
Signature: t9XiVjzoHxHYR7Fab9ptawWQV5koNXMs2dBhNVqNg2xJRJtUq6jbXUJGukNa1nBAtgZBfNmaujskQW9Ntb<b>1</b>ohMv
Bock: 127365724
Blockhash: 6TCJgPvmDx9Fx9CLSmujjF1nFDHLRTbFoxHSi<b>1</b>rWGUQj
</pre>

    <p>
        The latest signature's number is equal to the blockchash's number. <br>
        The user win 90% of the kitty. <br>
        <a href="https://explorer.solana.com/tx/57YTBjRoue5kyhco1jTg4iaghA1mVSUHcU7qYDpRdX8Z5UzaMwC5Pwz2d1XPFYE8TWMPB6SG8M56xSjacn1soQpS?cluster=devnet" target="_blank">Look at this one:</a>
    </p>

<pre>
Signature: 21J3YmRPGrefYSPnKf4xLt8jDbnpoSMdr8nGc86dp4rhjziY5Vt6RTAhLYcyC4tErCPnHgDUr4EHxZ<b>2</b>TXBfYGBmc
Block: 127368148
Recent Blockhash: 2iNLKTYdZhExX9XP7zGm7fp11ew18XDsNjp2swEiEC<b>2</b>n
</pre>

    <p>
        <a href="https://explorer.solana.com/tx/4e3uRh6BTejB7TTRrqYwPL1ZjGgVbMYThSpLuyA7TuH4ZWWPTaKZ6CJjmvbN6ytfA2AcJTnjRf6KhPvpCyMDZY52?cluster=devnet" target="_blank">Or this one:</a>
    </p>

<pre>
Signature: 4e3uRh6BTejB7TTRrqYwPL1ZjGgVbMYThSpLuyA7TuH4ZWWPTaKZ6CJjmvbN6ytfA2AcJTnjRf6KhPvpCyMDZY5<b>2</b>
Block: 127373149
Recent Blockhash: EqmPxxSgnmfvUw84zvqNPpE2kswGFk8CCudsqZ3U5J<b>2</b>y
</pre>

    <p>
        Now you know the rules. <br>
        Enjoy
    </p>
</div>
{% endblock %}