{% extends './_layout.html' %}

{% block content %}
<div class="container page">
    <h1>Stats</h1>

    <h2>Total plays: {{ transactions }}</h2>

    <h2>Latest rewards</h2>
    <table>
        <thead>
            <tr>
                <th colspan="2">Signature</th>
            </tr>
        </thead>
        <tbody>
            {% for reward in rewards.rows %}
            <tr>
                <td><img src="/images/icon-won.svg" alt="icon won"></td>
                <td>
                    <a target="_blank" href="https://explorer.solana.com/tx/{{ reward.signature }}?cluster={{ network }}">{{ reward.signature }}</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% for i in range(1, pages + 1) %}
            <a href="?page={{ i }}">{{ i }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}