{% extends './_layout.html' %}

{% block content %}
<div class="container page">
    <h1>Stats</h1>

    <h2>Total plays: {{ transactions }}</h2>

    <h2>Latest rewards</h2>
    <table>
        <thead>
            <tr>
                <th>Address</th>
                <th>Signature</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
            <tr>
                <td>aaa</td>
                <td>aaa</td>
                <td>aaa</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}